<div id="restaurant-menu">
  <div class="container">
    <div class="section-title text-center">
      <h2>Menu</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6" *ngFor="let mcategory of menuCategory">
            <div class="menu-section">
              <h2 class="menu-section-title">{{ mcategory }}</h2>
              <div class="menu-item" *ngFor="let m of menu | menuByCategory: mcategory">
                <div class="menu-item-name">{{ m.name }}</div>
                <div class="menu-item-price"> ${{ m.price }} </div>
                <div class="menu-item-description">{{ m.desc }}</div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css"  href="../assets/css/bootstrap.css">
