<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Our Specials</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4" *ngFor="let spec of special">
          <div class="features-item">
              <h3>{{ spec.heading}}</h3>
              <img src="{{ spec.path }}" class="img-responsive" alt="">
              <p>{{ spec.description }}</p>
            </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css"  href="../assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/fonts/font-awesome/css/font-awesome.css">
